*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif,'poppins','interi';
    background-color: white;
}

.navigation{
    background-color: white;
    min-height: auto;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: fixed;
}
.nav-list{
    margin: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.logo a{
    color: #4657A1;
    font-size: 22px;
    font-weight: 600;
}
.fas{
    color: #4657A1;
    font-size: 23px;
}

.info-con{
    padding: 8rem 1.5rem;
    color: white;
    width: 100%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,87,161,1) 100%); 
    text-align: center;
}
.info-logo {
    margin: 1rem 5rem;
}
.info-txt h1{
    font-size: 27px;
    font-weight: 500;
    font-family: 'roboto';
    margin-bottom: 0.5rem;
}
.info-txt p{
    padding: 0 2rem;
    font-size: 14px;
    font-weight: 400;
    font-family: 'roboto';
    margin-bottom: 0.5rem;
}
.btn{
    margin-top: 3rem;
}
.btn a {
    color: white;
    background-color: #E05B49;
    padding: 1rem 5rem;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'roboto';
}
/*-----------------------------main------------------------*/

.main-con{
    padding: 2rem 1rem;
}
.cards{
    padding:3rem 1rem;
    color: white;
    width: 100%;
    background-color: #4657A1;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.cards p{
    font-size: 12px;
    font-weight: 400;
    font-family: 'roboto';
    padding: 0 1rem;
    text-align: left;
}
.card2{
    background-color: #DD6453;
}
.card3{
    background-color: #2B5DFC;
}
.card-img img{
    width: 50%;
    min-height: auto;
}

/*--------------------------footer-------------------------*/

.footer-con{
    padding: 3rem 2rem;
    min-height: 80vh;
    width: 100%;
    color: white;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,87,161,1) 100%); 
    text-align: center;
}
.f-items{
    font-size: 14px;
    font-weight: 400;
    font-family: 'roboto';
}
.f-items p{
    margin-bottom: 1rem;
}
.f-links{
    text-align: left;
    margin-top: 7rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.f-links p{
    margin-bottom: 1rem;
}
.f-links ul li a{
    color: white;
    font-size: 12px;
}
.retail{
    margin-top: 1rem;






